* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #161815;
  }
  
  .navbar-nav a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .navbar {
    min-height: 120px;
  }
  
  .navbar-dark .navbar-brand {
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 70px;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
  }
  
  .w-100 {
    height: 100vh;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .section-padding {
    padding: 70px 0;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    margin-left: 100px;
  }
  
  .contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .contenedor-titulo-controles h3 {
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 100px;
  }
  
  /* Juego principal */
  
  .juego-principal {
    margin-top: 120px;
    font-size: 16px;
    min-height: 40.62em;
    color: #FFFFFF;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/Assets/images/hades.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
  }
  
  .juego-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
    margin-left: 100px;
  }
  
  .juego-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    margin-right: 1500px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .juego-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .juego-principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFFFFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 1.12em;
  }
  
  .juego-principal .boton:hover {
    background: #FFFFFF;
    color: #000000;
  }
  
  .juego-principal .boton i {
    margin-right: 1.25em;
  }
  
  /* Juegos recomendados */
  
  .juegos-recomendadas {
    margin-bottom: 70px;
  }
  
  .juegos-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .juegos-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .juegos-recomendadas .contenedor-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .juegos-recomendadas .contenedor-carousel .carousel .juego {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .juegos-recomendadas .contenedor-carousel .carousel .juego:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
  
  .juegos-recomendadas .contenedor-carousel .carousel .juego img {
    width: 100%;
    height: 100%;
    vertical-align: center;
  }
  
  /* Responsivo */
  
  @media (max-width: 767px) {
    .juego-principal {
      font-size: 14px;
    }
  
    .juego-principal .descripcion {
      max-width: 100%;
    }
  
    .juegos-recomendadas .contenedor-carousel {
      overflow: visible;
    }
  
    .juegos-recomendadas .contenedor-carousel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  