*{
    font-family: Arial, Helvetica, sans-serif;
}



body {
  background-color: #161815;
}

.section-padding {
  padding: 70px 0;
}
.logo {
  position: absolute;  
  top: 10px;           
  left: 10px;          
  width: 100px;         
  height: auto;    
  margin-left: 100px;    
}
.carousel-item {
  height: 95vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 120px;
  z-index: 2;
  text-align: center; 
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #ffffff;  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  background-color: rgba(0, 0, 0, 0.5); 
  display: inline-block; 
  padding: 10px; 
  
}
.texto-informatico {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 2;
  color: #ffffff;
  margin: 20px 0;
  margin-left: 50px;
  margin-right: 50px;
}

.titulo-informatico {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 2;
  color: #01e3ee;
  margin: 10px 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(5, 16, 223, 0.7); 
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height:  1.9;
  color: #ffffff;  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 30, 82, 0.327);
  z-index: 1;
}


.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar {
  min-height: 120px; 
}

.navbar-dark .navbar-brand {
  color: #FFFFFF;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 70px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: #000;
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0,3;
}

.services .card-body i {
  font-size: 50px;
}

.team .card-body i {
  font-size: 20px;
}

.warnings {
  display: none;
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #ffe6e6;
  border: 2px solid #ff0000;
  border-radius: 5px;
  text-align: center;
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
  margin: 50px auto 20px auto;
}
button {
  background-color: #007bff; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
}

.button-api {
  background-color: #3bf90c; 
  color: #d80000; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 50px; 
}

/* Pelicula principal */

.pelicula-principal {
  margin-top: 120px;
  font-size: 16px;
  min-height: 40.62em;
  color: #FFFFFF;
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0, .50) 100%), url(../images/peli1.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
  margin-left: 100px;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
  margin-right: 1500px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  background-color: rgba(0, 0, 0, 0.5); 
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width:50%;
  margin-bottom: 1.25em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  background-color: rgba(0, 0, 0, 0.5); 
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #FFFFFF;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #FFFFFF;
  color: #000000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

/*titulo y controles */

.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 100px;
}

/*Contenedor principal gustos y flechas */

.peliculas-recomendadas {
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal{
  display: flex;
  align-items: center;
  position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda, .peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover, .peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
  margin-left: 100px;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
  margin-right: 100px;
}

/* a */


/*Carousel gustos */

.peliculas-recomendadas .contenedor-carousel{
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-left: 100px;
  margin-right: 100px;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
  transform: scale(1.2);
  transform-origin: center;
}


.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}






/*seccion habilidades */

.contenedor-skills {
  background: linear-gradient(#4480e1cc, rgba(33,16,16,.8)),
  url(../images/fondo2.webp);   
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #0342ff;
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #ff0000;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #1eff00;
  width: 80%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #e1fa00;
  width: 70%;
  height: 6px;
  animation: progreso4 4s forwards;
}

.titulo-skills {
  color: #FFFFFF;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
}

.skillname {
  color: #FFFFFF;
  font-size: 20px;
}
.porcentaje {
  color: #FFFFFF;
  font-size: 20px;
}

.inicio {
  background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
  url(../images/fondo.png);
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.inicio .contenido-banner {
  padding: 10px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-banner img {
  margin-top: 40px;
  border: 10px solid #1900ff;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1 {
  margin-top: 40px;
  font: 42px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inicio .contenido-banner h2 {
  font-size: 15px;
  font-weight: normal;
}

.inicio .contenido-banner .redes a{
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}

@keyframes progreso1 {
  0%{
    width: 0;
  }
  100%{
    width: 95%;
  }
}

@keyframes progreso2 {
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}

@keyframes progreso3 {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

@keyframes progreso4 {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}

.botoncito {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #FFFFFF;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
  margin-left: 150px;
}

.botoncito:hover{
  background: #FFFFFF;
  color: #000000;
}

@media(max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-item {
    height: 70vh;
  }
  .navbar {
    min-height: 60px; 
  }
  .navbar-brand {
    margin-left: 60px; 
  }
  .w-100 {
    height: 78vh;
  }
  .logo {
    width: 50px;    
}
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size:  15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
  }
  .about-text {
    padding-top: 50px
  }
  .card {
    margin-bottom: 30px;
  }
  .section-padding {
    padding: 50px 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }

  .pelicula-principal {
    font-size: 14px;
  }
  
  .pelicula-principal .descripcion {
    max-width: 15%;
  }

  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible;
  }
  .peliculas-recomendadas .contenedor-carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .botoncito {
    font-size: 0.8em;
    margin-left: 20px;
    padding: 0.8em 1.5em;
  }
}

